

# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ADMIN_JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=toBeModified
DATABASE_USERNAME=toBeModified
DATABASE_PASSWORD=toBeModified
DATABASE_SSL=false

# Mailer
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_SECURE=false
MAILER_USER=toBeModified
MAILER_PASS=toBeModified
MAILER_FROM=toBeModified

